.list {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.status {
    display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.off {
    display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}

.item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 275px;
  height: 75px;
  box-shadow: 2px 2px 4px green, inset -2px -2px 4px red;
  padding-left: 10px;
}

.friendlist {
  display: flex;
  flex-direction: column;
gap: 10px;
}

.name {
  font-size: 24px;
  font-weight: 500;
}


